.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.main-body mat-form-field {
  width: 100%;
}

mat-toolBar {
  border-radius: 3px;
  padding: 0 5%;
}

.table-container {
  /* max-height: 400px; Set your desired max height */
  overflow-x: auto;
}
